Repository Gum-Joe/2Keys: changes, and which Codecov flags are due for each by the changed paths.
All: addons, server, core, executor-ahk

Just outright disable python
  .github/workflows/pythonpackage.yml
Due: none

Use only a few add-ons
  .travis.yml
Due: none

Only upload one addon
  .travis.yml
Due: none

Just upload server
  .travis.yml
Due: none

Use bash uploader
  .travis.yml
Due: none

Renable py builds
  .github/workflows/pythonpackage.yml
  codecov.yml
  detectors/detector-pi/detector/codecov.yml
Due: none

Added uninstall method
  packages/@twokeys/addons/src/software-query-provider.ts
  packages/@twokeys/addons/src/software.ts
Due: addons

Added tests for uninstallSoftware Fixed an issue where no results was not handled (for getSoftware) Added a new CodedError to core (so we can have errors with error codes)
  packages/@twokeys/addons/src/software-query-provider.ts
  packages/@twokeys/addons/src/software.ts
  packages/@twokeys/addons/src/util/constants.ts
  packages/@twokeys/addons/test/constants.ts
  packages/@twokeys/addons/test/software.ts
  packages/@twokeys/core/src/error.ts
Due: addons, core

Fix code compilation issues
  packages/@twokeys/addons/src/software-query-provider.ts
  packages/@twokeys/addons/src/software.ts
  packages/@twokeys/addons/src/util/downloader.ts
  packages/@twokeys/addons/test/software.ts
Due: addons

Add an update method
  packages/@twokeys/addons/src/software-query-provider.ts
  packages/@twokeys/addons/src/software.ts
  packages/@twokeys/addons/src/util/interfaces.ts
Due: addons

Adjust types and add parsing of SQLBools to JS bool Clickup Task: CU-50kaje
  packages/@twokeys/addons/src/software-query-provider.ts
  packages/@twokeys/addons/src/software.ts
  packages/@twokeys/addons/src/util/constants.ts
  packages/@twokeys/addons/src/util/interfaces.ts
  packages/@twokeys/addons/test/software.ts
Due: addons

Added rename and delete executable methods CU-50kaje
  packages/@twokeys/addons/src/software.ts
  packages/@twokeys/addons/test/constants.ts
  packages/@twokeys/addons/test/software.ts
Due: addons

Added tests for rename and delete executable CU-50kaje
  packages/@twokeys/addons/src/software.ts
  packages/@twokeys/addons/test/constants.ts
  packages/@twokeys/addons/test/software.ts
Due: addons

Add tests for updating software Now just to optimise coverage Clickup: CU-5er4ef
  packages/@twokeys/addons/package.json
  packages/@twokeys/addons/src/software-query-provider.ts
  packages/@twokeys/addons/src/software.ts
  packages/@twokeys/addons/src/util/copy-contents.ts
  packages/@twokeys/addons/test/constants.ts
  packages/@twokeys/addons/test/software.ts
  yarn.lock
Due: addons

Add final tests for updating in the DB to boost coverage Clickup stuff: CU-5er4ef CU-5er4ef[completed] #5er4ef[completed]
  packages/@twokeys/addons/src/software.ts
  packages/@twokeys/addons/src/util/interfaces.ts
  packages/@twokeys/addons/test/constants.ts
  packages/@twokeys/addons/test/software.ts
Due: addons

fix: server/package.json & server/yarn.lock to reduce vulnerabilities
  server/package.json
  server/yarn.lock
Due: none

Added lines to exec.ts to pull software from registry for AHK Ignore compiles ts docs
  .gitignore
  executors/@twokeys/executor-ahk/src/constants.ts
  executors/@twokeys/executor-ahk/src/exec.ts
  executors/@twokeys/executor-ahk/src/install.ts
  executors/@twokeys/executor-ahk/tsconfig.json
Due: executor-ahk

Start adding tests for core
  packages/@twokeys/core/.gitignore
  packages/@twokeys/core/.mocharc.js
  packages/@twokeys/core/package.json
  packages/@twokeys/core/test/config.ts
  packages/@twokeys/core/test/non-mocha/test.yml
  yarn.lock
Due: core

Added tests for config, constants and error
  packages/@twokeys/core/src/config.ts
  packages/@twokeys/core/src/interfaces.ts
  packages/@twokeys/core/src/logger.ts
  packages/@twokeys/core/test/config.ts
  packages/@twokeys/core/test/error.ts
  packages/@twokeys/core/test/logger.ts
Due: core

Add tests for base logging methods
  packages/@twokeys/core/src/interfaces.ts
  packages/@twokeys/core/src/logger.ts
  packages/@twokeys/core/test/config.ts
  packages/@twokeys/core/test/error.ts
  packages/@twokeys/core/test/logger.ts
Due: core

Add tests for logger (95% coverage on it) Allow the ability to use a custom logger more easily for Logger Remove some unnecessary ifs.
  packages/@twokeys/core/src/logger.ts
  packages/@twokeys/core/test/error.ts
  packages/@twokeys/core/test/logger.ts
Due: core

Hopefully fix CI
  packages/@twokeys/core/package.json
  packages/@twokeys/core/test/config.ts
  yarn.lock
Due: core

Remove unneeded tslint dep
  packages/@twokeys/server/package.json
Due: none

Create common-hi package
  packages/@twokeys/common-hi/.gitignore
  packages/@twokeys/common-hi/.mocharc.js
  packages/@twokeys/common-hi/README.md
  packages/@twokeys/common-hi/package.json
  packages/@twokeys/common-hi/src/index.ts
  packages/@twokeys/common-hi/tsconfig.build.json
  packages/@twokeys/common-hi/tsconfig.json
  packages/@twokeys/common-hi/typedoc.json
  yarn.lock
Due: none

Fix compile error in server
  packages/@twokeys/server/src/index.ts
  packages/@twokeys/server/src/oobe/software/zip-downloader.ts
Due: server

Start work on BaseCommand for CU-5wt3mp
  packages/@twokeys/common-hi/README.md
  packages/@twokeys/common-hi/src/common/base-command.ts
Due: none

Add commandex Move an abstract version of twokeys.ts to core
  packages/@twokeys/commandex/.gitignore
  packages/@twokeys/commandex/.mocharc.js
  packages/@twokeys/commandex/README.md
  packages/@twokeys/commandex/package.json
  packages/@twokeys/commandex/tsconfig.build.json
  packages/@twokeys/commandex/tsconfig.json
  packages/@twokeys/commandex/typedoc.json
  packages/@twokeys/core/src/twokeys.ts
Due: core

Add BaseCommand class and some docs to it. Create this branch.
  packages/@twokeys/commandex/package.json
  packages/@twokeys/commandex/spike/mock.ts
  packages/@twokeys/commandex/src/helpers/index.ts
  packages/@twokeys/commandex/src/util/interfaces.ts
  packages/@twokeys/commandex/tsconfig.build.json
  packages/@twokeys/commandex/tsconfig.json
Due: none

Add decorators folder
  packages/@twokeys/commandex/src/helpers/commands.ts
  packages/@twokeys/commandex/src/helpers/decorators/index.ts
  packages/@twokeys/commandex/src/helpers/index.ts
  packages/@twokeys/commandex/src/util/interfaces.ts
Due: none

Add registerStatefulCommand decorator and tests Validate function names as being valid JS Above done using https://github.com/SteveWestbrook/is-valid-var-name (code copied into repo)
  packages/@twokeys/commandex/src/helpers/commands.ts
  packages/@twokeys/commandex/src/helpers/decorators/index.ts
  packages/@twokeys/commandex/src/helpers/decorators/registerStatefulCommand.ts
  packages/@twokeys/commandex/src/helpers/index.ts
  packages/@twokeys/commandex/src/util/isValidVarName.ts
  packages/@twokeys/commandex/test/decorators.ts
  packages/@twokeys/commandex/test/isValidVarName.ts
  packages/@twokeys/commandex/tsconfig.json
Due: none

Implement decorator fromFactoryCreateInstanceOf Create a types.ts file to store types
  packages/@twokeys/commandex/spike/mock.ts
  packages/@twokeys/commandex/src/helpers/commands.ts
  packages/@twokeys/commandex/src/helpers/decorators/fromFactoryCreateInstanceOf.ts
  packages/@twokeys/commandex/src/helpers/decorators/index.ts
  packages/@twokeys/commandex/src/util/isValidVarName.ts
  packages/@twokeys/commandex/src/util/types.ts
Due: none

Test fromFactoryCreateInstanceOf
  packages/@twokeys/commandex/src/helpers/decorators/fromFactoryCreateInstanceOf.ts
  packages/@twokeys/commandex/test/decorators.ts
Due: none

Add a placeholder test
  packages/@twokeys/common-hi/test/index.ts
Due: none

Attempt to implement mapCommandArgumentToWrapper Major refactors are required since child classes of BaseCommand won't work with decorators
  package.json
  packages/@twokeys/commandex/spike/mock.ts
  packages/@twokeys/commandex/src/helpers/commands.ts
  packages/@twokeys/commandex/src/helpers/decorators/fromFactoryCreateInstanceOf.ts
  packages/@twokeys/commandex/src/helpers/decorators/mapCommandArgumentToWrapper.ts
  packages/@twokeys/commandex/src/helpers/decorators/registerStatefulCommand.ts
  packages/@twokeys/commandex/src/util/interfaces.ts
  packages/@twokeys/commandex/src/util/types.ts
  packages/@twokeys/commandex/test/decorators.ts
  yarn.lock
Due: none

Add tests for mapCommandArgumentToWrapper Refactor to use an interface to define BaseCommand in decorators.
  packages/@twokeys/commandex/spike/mock.ts
  packages/@twokeys/commandex/src/helpers/commands.ts
  packages/@twokeys/commandex/src/helpers/decorators/fromFactoryCreateInstanceOf.ts
  packages/@twokeys/commandex/src/helpers/decorators/implementsStaticProperties.ts
  packages/@twokeys/commandex/src/helpers/decorators/index.ts
  packages/@twokeys/commandex/src/helpers/decorators/mapCommandArgumentToWrapper.ts
  packages/@twokeys/commandex/src/helpers/decorators/registerStatefulCommand.ts
  packages/@twokeys/commandex/src/helpers/index.ts
  packages/@twokeys/commandex/test/decorator-compile-check.ts
  packages/@twokeys/commandex/test/decorators.ts
  packages/@twokeys/common-hi/test/index.ts
Due: none

Move implementsStaticProperties to core (CU-62pz71[completed])
  packages/@twokeys/core/src/util.ts
Due: core

Minor spelling corrections
  packages/@twokeys/common-hi/src/common/command-factory.ts
Due: none

Fix an issue where registery would not compile due to how return types were handled on TaskFunctions
  packages/@twokeys/addons/src/module-interfaces/common.ts
  packages/@twokeys/common-hi/src/common/twokeys.ts
  packages/@twokeys/common-hi/test/example.ts
  packages/@twokeys/core/src/twokeys.ts
Due: addons, core

Add tests for stateless commands
  .vscode/settings.json
  packages/@twokeys/addons/src/module-interfaces/twokeys.ts
  packages/@twokeys/common-hi/.mocharc.js
  packages/@twokeys/common-hi/test/common/command-factory.ts
  packages/@twokeys/common-hi/test/common/example.ts
  packages/@twokeys/common-hi/test/common/twokeys.ts
  packages/@twokeys/common-hi/test/index.ts
  packages/@twokeys/server/test/non-mocha/config.yml
Due: addons

Path conditions:
  addons: any of: packages/@twokeys/addons/**/*.ts
  server: any of: packages/@twokeys/server/**/*.ts
  core: any of: packages/@twokeys/core/**/*.ts
  executor-ahk: any of: executors/@twokeys/executor-ahk/**/*.ts
