Repository Gum-Joe/2Keys: changes, and which Codecov flags are due for each by the changed paths.
All: addons, server, core, executor-ahk

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
      addons:
        target: auto
        flags:
          - addons
      server:
        target: auto
        flags:
          - server
      core:
        target: auto
        flags:
          - core
      executor-ahk:
        target: auto
        flags:
          - executor-ahk
flags:
  addons:
    paths:
      - packages/@twokeys/addons/**/*.ts
  server:
    paths:
      - packages/@twokeys/server/**/*.ts
  core:
    paths:
      - packages/@twokeys/core/**/*.ts
  executor-ahk:
    paths:
      - executors/@twokeys/executor-ahk/**/*.ts

Fix a boostrap script CI issue in server
  packages/@twokeys/server/scripts/bootstrap.ts
Due: server

For CU-5wt3mp - Implement stateful commands Tasks: CU-5yjwr9[completed] CU-62pz28[completed]
  packages/@twokeys/common-hi/src/common/base-commands.ts
  packages/@twokeys/common-hi/src/common/command-factory.ts
  packages/@twokeys/common-hi/test/common/command-factory.ts
  packages/@twokeys/common-hi/test/common/example.ts
Due: none

Added tests for command factory. The Base strcuture of commands is now done. Going to do some code tidy up and docs first before completing.
  packages/@twokeys/common-hi/test/common/command-factory.ts
Due: none

Add documentation, including to the README.md. CU-66qcrh[completed]
  packages/@twokeys/common-hi/README.md
  packages/@twokeys/common-hi/src/common/base-commands.ts
  packages/@twokeys/common-hi/src/common/command-factory.ts
  packages/@twokeys/common-hi/src/common/index.ts
  packages/@twokeys/common-hi/src/common/twokeys.ts
  packages/@twokeys/common-hi/test/common/command-factory.ts
  packages/@twokeys/common-hi/test/common/example.ts
  packages/@twokeys/common-hi/test/common/twokeys.ts
Due: none

Delete @twokeys/commandex, thus completing CU-5wt3mp[completed]. Recompile everything & test everything.
  packages/@twokeys/commandex/.gitignore
  packages/@twokeys/commandex/.mocharc.js
  packages/@twokeys/commandex/README.md
  packages/@twokeys/commandex/package.json
  packages/@twokeys/commandex/spike/mock.ts
  packages/@twokeys/commandex/src/helpers/commands.ts
  packages/@twokeys/commandex/src/helpers/decorators/fromFactoryCreateInstanceOf.ts
  packages/@twokeys/commandex/src/helpers/decorators/implementsStaticProperties.ts
  packages/@twokeys/commandex/src/helpers/decorators/mapCommandArgumentToWrapper.ts
  packages/@twokeys/commandex/src/helpers/decorators/registerStatefulCommand.ts
  packages/@twokeys/commandex/src/helpers/index.ts
  packages/@twokeys/commandex/src/util/interfaces.ts
  packages/@twokeys/commandex/src/util/isValidVarName.ts
  packages/@twokeys/commandex/src/util/types.ts
  packages/@twokeys/commandex/test/decorator-compile-check.ts
  packages/@twokeys/commandex/test/decorators.ts
  packages/@twokeys/commandex/test/isValidVarName.ts
  packages/@twokeys/commandex/tsconfig.build.json
  packages/@twokeys/commandex/tsconfig.json
  packages/@twokeys/commandex/typedoc.json
  packages/@twokeys/server/test/non-mocha/config.yml
Due: none

CU-5er3t6 start adding extra methods to logger
  packages/@twokeys/core/src/logger.ts
Due: core

CU-5er3t6 add substatus CU-5er3tf[completed]
  packages/@twokeys/core/src/logger.ts
Due: core

Start adding methods for CU-5er3t6 .prompts
  package.json
  packages/@twokeys/core/spike/prompt.ts
  packages/@twokeys/core/src/logger.ts
  packages/@twokeys/core/src/prompts.ts
  packages/@twokeys/core/src/titlecase.ts
Due: core

Added implementation for error & warning & question CU-6cq6ym[completed] CU-6cq6yt[completed]
  packages/@twokeys/core/spike/prompt.ts
  packages/@twokeys/core/src/logger.ts
  packages/@twokeys/core/src/prompts.ts
Due: core

CU-5er3t6[completed] Add documentation to prompts.ts
  packages/@twokeys/core/src/prompts.ts
  packages/@twokeys/core/src/titlecase.ts
Due: core

:bug: Fix an issue where default was not respected Pressing enter was marked as an invaliud response, when it should use default if present.
  packages/@twokeys/core/src/prompts.ts
Due: core

Add version string to 2Keys cli
  server/bin/2Keys
Due: none

CU-6cq93h start adding prompts test Add test for .info Add mocking of readline input with our own stream
  packages/@twokeys/core/src/index.ts
  packages/@twokeys/core/src/prompts.ts
  packages/@twokeys/core/test/logger.ts
  packages/@twokeys/core/test/prompts.ts
Due: core

Fully test .prompts.question, and by extension basePrompt()
  packages/@twokeys/core/.mocharc.js
  packages/@twokeys/core/src/prompts.ts
  packages/@twokeys/core/test/prompts.ts
Due: core

CU-6cq93h[completed] Add all tests for prompts Note: now need to compile core before testing Ignore some untestable stuff from coverage Add tests for status and substatus as well
  packages/@twokeys/core/src/logger.ts
  packages/@twokeys/core/src/prompts.ts
  packages/@twokeys/core/test/logger.ts
  packages/@twokeys/core/test/misc.ts
  packages/@twokeys/core/test/non-mocha/call-readline.js
  packages/@twokeys/core/test/prompts.ts
Due: core

CU-6cqx95[completed] add support for --silent to prompts. Add tests for this.
  packages/@twokeys/core/src/prompts.ts
  packages/@twokeys/core/test/non-mocha/call-readline.js
  packages/@twokeys/core/test/prompts.ts
Due: core

Add extra docs for error CU-6cq6yr[completed] CU-5er3t6[completed]
  packages/@twokeys/core/src/prompts.ts
Due: core

Fix a CI issue where addons would not run Remove duplicate ts-node dep in all packages; Dep is in root package.json.
  executors/@twokeys/executor-ahk/package.json
  packages/@twokeys/addons/package.json
  packages/@twokeys/common-hi/package.json
  packages/@twokeys/core/package.json
  packages/@twokeys/server/package.json
  packages/@twokeys/server/test/non-mocha/config.yml
  yarn.lock
Due: none

Some changes so we can run all tests at once Tests: 116 Time to run: ~2 minutes
  .mocharc.js
  tsconfig.build.json
Due: none

Create a dev tools file for add-ons So that we can create a mock TwoKeys object Adjust types for this, start adding executor-ahk tests
  executors/@twokeys/executor-ahk/.mocharc.js
  executors/@twokeys/executor-ahk/package.json
  executors/@twokeys/executor-ahk/src/exec.ts
  executors/@twokeys/executor-ahk/test/constants.ts
  executors/@twokeys/executor-ahk/test/exec.ts
  packages/@twokeys/addons/src/dev-tools.ts
  packages/@twokeys/addons/src/module-interfaces/twokeys.ts
  packages/@twokeys/addons/src/registry.ts
  packages/@twokeys/addons/src/util/interfaces.ts
  packages/@twokeys/addons/test/registry.ts
  packages/@twokeys/server/test/util/ahk.ts
Due: addons, server, executor-ahk

CU-5er4m2 - test AHK exec 100% coverage :bug: Fix an issue where AHK thread was not terminated Relock packages Remove placeholder tests
  executors/@twokeys/executor-ahk/.mocharc.js
  executors/@twokeys/executor-ahk/.vscode/settings.json
  executors/@twokeys/executor-ahk/native/run-ahk.cc
  executors/@twokeys/executor-ahk/package.json
  executors/@twokeys/executor-ahk/src/exec.ts
  executors/@twokeys/executor-ahk/test/exec.ts
  executors/@twokeys/executor-ahk/test/non-mocha/config.yml
  executors/@twokeys/executor-ahk/test/placeholder.ts
  yarn.lock
Due: executor-ahk

Fix a race condition with SQLite Moved away from a DB with cache -> all operation go directly to FS
  packages/@twokeys/addons/src/registry.ts
  packages/@twokeys/addons/src/software-query-provider.ts
Due: addons

Fix a compile time error with dev tools
  package.json
  packages/@twokeys/addons/src/dev-tools.ts
Due: addons

Remove deletion stuff from after() in tests CU-5er4m2[completed] CU-5er4a5[completed]
  executors/@twokeys/executor-ahk/test/exec.ts
  package.json
Due: executor-ahk

Fix an fs.access check issue for Stable
  executors/@twokeys/executor-ahk/src/exec.ts
Due: executor-ahk

Aggregate devDeps to root
  executors/@twokeys/executor-ahk/package.json
  misc/template/package.json
  package.json
  packages/@twokeys/addons/package.json
  packages/@twokeys/common-hi/package.json
  packages/@twokeys/core/package.json
  packages/@twokeys/server/package.json
  packages/@twokeys/server/test/non-mocha/config.yml
  yarn.lock
Due: none

Add chai-as-promised types so tests compile
  package.json
  yarn.lock
Due: none

Move `nyc` config to root
  .mocharc.js
  executors/@twokeys/executor-ahk/.nycrc
  executors/@twokeys/executor-ahk/package.json
  nyc.config.js
  packages/@twokeys/addons/.nycrc
  packages/@twokeys/addons/package.json
  packages/@twokeys/common-hi/.nycrc
  packages/@twokeys/common-hi/package.json
  packages/@twokeys/core/.nycrc
  packages/@twokeys/core/package.json
  packages/@twokeys/server/.nycrc
  packages/@twokeys/server/package.json
  packages/@twokeys/server/test/non-mocha/config.yml
Due: none

Move all mocha configs to one file.
  .mocharc.js
  config/.mocharc.js
  config/README.md
  executors/@twokeys/executor-ahk/.mocharc.js
  package.json
  packages/@twokeys/addons/.mocharc.js
  packages/@twokeys/common-hi/.mocharc.js
  packages/@twokeys/core/.mocharc.js
  packages/@twokeys/server/.mocharc.js
  packages/@twokeys/server/test/non-mocha/config.yml
Due: none

Switch to wsrun
  .travis.yml
Due: none

**MAJOR** Move to TS Project references Ts config have been fixed, now one build command at the root does it all Add clean command Use incremental builds
  .gitignore
  .travis.yml
  executors/@twokeys/executor-ahk/package.json
  executors/@twokeys/executor-ahk/src/exec.ts
  executors/@twokeys/executor-ahk/tsconfig.build.json
  executors/@twokeys/executor-ahk/tsconfig.json
  executors/tsconfig.json
  misc/template/package.json
  package.json
  packages/@twokeys/addons/package.json
  packages/@twokeys/addons/src/index.ts
  packages/@twokeys/addons/tsconfig.build.json
  packages/@twokeys/addons/tsconfig.json
  packages/@twokeys/common-hi/package.json
  packages/@twokeys/common-hi/tsconfig.build.json
  packages/@twokeys/common-hi/tsconfig.json
  packages/@twokeys/core/package.json
  packages/@twokeys/core/tsconfig.build.json
  packages/@twokeys/core/tsconfig.json
  packages/@twokeys/server/package.json
  packages/@twokeys/server/test/non-mocha/config.yml
  packages/@twokeys/server/tsconfig.build.json
  packages/@twokeys/server/tsconfig.json
  packages/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: addons, executor-ahk

Remove codecov script Update README.md
  README.md
  executors/@twokeys/executor-ahk/package.json
  misc/template/package.json
  packages/@twokeys/addons/package.json
  packages/@twokeys/common-hi/package.json
  packages/@twokeys/core/package.json
  packages/@twokeys/server/package.json
Due: none

Add a DEVELOPMENT.md Remove unused codecov files
  DEVELOPMENT.md
  codecov.yml
  executors/@twokeys/executor-ahk/codecov.yml
  executors/@twokeys/executor-ahk/src/exec.ts
  executors/tsconfig.json
  misc/template/tsconfig.build.json
  misc/template/tsconfig.json
  package.json
  packages/@twokeys/addons/codecov.yml
  packages/@twokeys/addons/spike/install.ts
  packages/@twokeys/server/codecov.yml
  packages/tsconfig.json
Due: addons, executor-ahk

Shift to adding an all flag to nyc so we see coverage for all source files
  nyc.config.js
Due: none

Move to using coverage:all for CI Move nyc shared config to a config dir
  .travis.yml
  config/nyc.config.js
  executors/@twokeys/executor-ahk/.nycrc
  nyc.config.js
  package.json
  packages/@twokeys/addons/.nycrc
  packages/@twokeys/common-hi/.nycrc
  packages/@twokeys/core/.nycrc
  packages/@twokeys/server/.nycrc
  tsconfig.json
Due: none

Fix coverage reporting issues Fix an issue where TWOKEYS_USE_COLOUR was not given for test:all Restire root coverage, albeit commented out for
  .travis.yml
  codecov.yml
  nyc.config.js
  package.json
  packages/@twokeys/core/codecov.yml
  packages/@twokeys/server/test/non-mocha/config.yml
Due: none

Cache TSC builds (CI) Change CI yarn command Add mochawesome reporter
  .gitignore
  .travis.yml
  package.json
  yarn.lock
Due: none

Attempt caching fix by disable yarn and npm cache Disable all NYC option for server as it reduces coverage too much
  .travis.yml
  packages/@twokeys/server/.nycrc
  packages/@twokeys/server/nyc.config.js
  packages/@twokeys/server/test/non-mocha/config.yml
Due: none

Readd cache
  .travis.yml
Due: none

Remove of .build-info due to build errors
  .travis.yml
Due: none
